footer {
    display: block;
    height: 50px;
    background-color: $darkGold;
    //position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: 'Public Sans', sans-serif;
    font-size: $font-sm;
    text-align: center;

    .footer__text {
        padding-top: 10px;
    }
    p {
        margin-bottom: 5px !important;
        //line-height: 0.5rem;
    }
}