html {
    font-size: 100%;
    box-sizing: border-box;
}

a, a:visited, a:hover {
    text-decoration: none;
    color: $lightBlack;
} 

body {
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
    font-size: $font-med;
    //color: rgb(250, 18, 18);
    //height: 300vh;
    width: 100%;

    &.noscroll {
        height: 100%;
        overflow: hidden;
    }
}

*,*::before, *::after {
    box-sizing: inherit;
}

.container {
    max-width: 80rem;
    margin: 0 auto;
}

h1,h2 {
    padding: 0;
    margin: 0;
    font-size: $font-lg;
}

select {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;       /* remove default arrow */
    //background-image: url(...);   /* add custom arrow */
    border: none;
    background: transparent;
    font-family: inherit;
    font-size: $font-sm;
    color: $lightBlack;
 }

 li {
    list-style: none;
 }

 .hide_for_mobile {
    @include breakpoint-down(medium) {
        display: none;
    }
    }
    
.hide_for_desktop {
    @include breakpoint-up(large) {
        display: none;
    }
}