$superGold: rgb(255, 215, 0);
$superGoldLight: rgba(255, 215, 0, 0.8);
$softCream: rgb(245,222,179);
$softWhite: rgb(250,240,230);
$lightBody: rgb(255, 255, 204);
$darkGold: rgb(193,154,107);
$darkBlue: rgb(66, 81, 194);
$grayishBlue: rgb(20, 29, 97);
$lightBlack: rgb(77, 77, 77);
$white: rgb(255, 255, 255);
$darkVanilla: rgb(209,190,168);

$font-sm: 0.6rem;
$font-med: 1.2rem;
$font-lg: 1.8rem;
$font-xlg: 2.4rem;